@charset "utf-8";
/* CSS Document */
/*人机大战之五子棋*/
body{
	background:url(../image/back.jpg);
	}
#welcome{
	position:absolute;
	right:30px;
	top:10px;
	font-size:12px;
	}
#chess{
	display:block;
	/*margin:20px auto;*/
	box-shadow:5px 5px 5px #999;
	/*border:1px solid #efefef;*/
	}
#chessDiv{
	width:450px;
	height:450px;
	margin: 20px auto;
	position:relative;
	}
#tip p{
	color:#565656;
	text-align:center;
	display:block;
	font-size:16px;
	lineheight:16px;
	}
h1{
	font-size:28px;
	lineheifht:28px;
	}
#settings{
	background:#efefef;
	border-radius:5px;
	font: 20px/1.5 'Open Sans Condensed',sans-serif;
	padding:70px 30px;
	width:160px;
	height:300px;
	position:fixed;
	top:115px;
	left:0px;
	float:left;
	}
#countTime{
	margin:0 auto;
	width:180px;
	}
.hide{
	display:none;
	}
.show{
	display:block;
	}

